.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  min-height: 100vh;
}

.App-container {
  min-width: 120vh !important;
}

.App-header {
  color: #3182ce;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: calc(20px + 2vmin);
}

.bg {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg2 {
  background-image: url("./assets/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.icon{
  width: 24px;
  height: 24px;
}

.icon-sm{
  width: 16px;
  height: 16px;
}

.icon, .tab {
  display: block;
}
@media(max-width: 768px) {
  .App-container {
    min-width: 85vh !important;
  }
  .tab {
    display:none;
  }
  .icon {
    display: block;
  }
}

.link {
  color: #2a4365;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link:hover {
  color: #3182ce;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
